/* Stylesheet for alle fælles elementer */

/* Resets her gælder for alle sider */

html,body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 1s;
}
img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

/* Info section */

.my-picture{
    width: 40%;
    margin: 30px 140px;
}

.mypicture{
    max-width: 500px;
    border-radius: 50%;
    border: 4px solid #324663;
    
}

.introtext{
    text-align: center;
    border: 3px solid #324663;
    border-radius: 10px;
    margin: 55px 70px 55px 0px;
    padding: 20px;
    width: 60%;
}


/* Info sektion */

.info-left{
    width: 49.5%;
    padding: 30px;
}

.info-right{
    width: 49.5%;
    padding: 30px;
}

.info-sec{
    margin: 30px;
}

.info-heading{
    font-family: 'Philosopher', sans-serif;
}

.line-between{
    float:left;
    height: 500px;
    width: 4px;
    background-color: #F7F7F7;
    margin: 17px 0px;
}

/* Intro sektion */

.heading-inter{
    font-size: 30px;
    font-family: "Philosopher", sans serif;
    text-align: center;
}

.inter-section-grid{
    display: grid;
    grid-template-columns: repeat(6, 230px);
    grid-template-rows: repeat(1, 230px);
    height: 100%;
    width: 100%;
    grid-template-areas: "a b c d e f";
    margin: 10px 30px 40px 30px;
}

/* Overlay&grid one */

.inter-one{
    margin: 20px;
    grid-area: a;
}

.inter-overlay-one{
    background-color: #008CBA;
}

.inter-two{
    margin: 20px;
    grid-area: b;
}

.inter-overlay-two{
    background-color: #324663;
}

.inter-three{
    margin: 20px;
    grid-area: c;
}

.inter-overlay-three{
    background-color: #f7f7f7;
}

.inter-four{
    margin: 20px;
    grid-area: d;
}

.inter-overlay-four{
    background-color: red;
}

.inter-five{
    margin: 20px;
    grid-area: e;
}

.inter-overlay-five{
    background-color: #008CBA;
}

.inter-six{
    margin: 20px;
    grid-area: f;
}

.inter-overlay-six{
    background-color: #008CBA;
}

/* Overlays general */

.inter-container{
    position: relative;
}

.inter-img{
    display: block;
}

.inter-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.inter-container:hover .inter-overlay{
    opacity: 0.75;
    height: 100%;
}

.inter-text{
    color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}