/* Stylesheet for alle fælles elementer */

/* Resets her gælder for alle sider */

html,body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 1s;
}
img{
    max-width: 100%;
}
*{
    box-sizing: border-box;
}

/* Info section */

.my-picture{
    width: 40%;
    margin: 30px 140px;
    text-align: center;
}

.mypicture{
    max-width: 500px;
    border-radius: 50%;
    border: 4px solid #96626C;
    margin-top: 70px;
    margin-bottom: 20px;
}

.introtext{
    text-align: center;
    /*border: 3px solid #96626C;*/
    border-radius: 10px;
    margin: 30px 100px 55px 0px;
    padding: 20px;
    width: 60%;
    line-height: 2;
}


/* Info sektion */

.info-left{
    width: 49.5%;
    padding: 30px;
}

.info-right{
    width: 49.5%;
    padding: 30px;
}

.info-section p{
    margin-block-start: 10px;
    margin-block-end: 0;
}

.info-sec{
    margin: 30px;
}

.info-heading{
    font-family: 'Philosopher', sans-serif;
    padding-top: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line-between{
    float:left;
    height: 1350px;
    width: 4px;
    background-color: #F7F7F7;
    margin: 17px 0px;
}


/* Info resume txt */

/* Erhvervsarbejde/frivillig */

.ea-section{
    padding-bottom: 10px;
}

.job-title{
    font-size: 16px;
    color: #7e525b;
    line-height: 0.2;
}

.dato-title{
    font-size: 11px;
    font-style: italic;
    color: #f7f7f7;
    line-height: 0.2;
}

.employer-title{
    font-size: 12px;
    line-height: 0.2;
}

.location-title{
    font-size: 12.5px;
    color: #323232;
    line-height: 0.1;
}

.details-title{
    font-size: 12px;
}

/* Kurser */

.kurs-section{
    padding-bottom: 5px;
}

.kurs-title{
    font-size: 14px;
    color: #7e525b;
    line-height: 0.2;
}

.kurs-det-title{
    font-size: 12px;
    font-style: italic;
    color: #f7f7f7;
    line-height: 0.2;
}

/* Uddannelse */

.uddan-section{
    padding-bottom: 10px;
}

.programme-title{
    font-size: 16px;
    color: #7e525b;
    line-height: 1;
}

.school-title{
    font-size: 12px;
    line-height: 1;
}

.sch-dato-title{
    font-size: 12px;
    font-style: italic;
    color: #f7f7f7;
    line-height: 0;
}

.sch-details-title{
    font-size: 12px;
}

/* Certificate */

.certif-section{
    padding-bottom: 10px;
}

.certif-title{
    font-size: 16px;
    color: #7e525b;
    line-height: 0.2;
}

.certif-institution{
    font-size: 12px;
    line-height: 1.3;
}

.certif-dato{
    font-size: 11px;
    font-style: italic;
    color: #f7f7f7;
    line-height: 0.2;
}

.certif-grade{
    font-size: 12.5px;
    color: #323232;
    line-height: 0.1;
}

/* Language */

.lang-section{
    padding-bottom: 3px;
}

.lang-title{
    font-size: 14px;
    color: #7e525b;
    line-height: 0.2;
}

.lang-det-title{
    font-size: 12.5px;
    font-style: italic;
    color: #323232;
    line-height: 0.2;
}


/* Intro sektion */

.heading-inter{
    font-size: 30px;
    font-family: "Philosopher", sans serif;
    text-align: center;
}

.inter-section-grid{
    display: grid;
    grid-template-columns: repeat(6, 230px);
    grid-template-rows: repeat(1, 230px);
    height: 100%;
    width: 100%;
    grid-template-areas: "a b c d e f";
    margin: 10px 30px 40px 30px;
}

/* Overlay&grid one */

.inter-one{
    margin: 20px;
    grid-area: a;
}

.inter-overlay-one{
    background-color: #d69e8e;
}

.inter-two{
    margin: 20px;
    grid-area: b;
}

.inter-overlay-two{
    background-color: #96626c;
}

.inter-three{
    margin: 20px;
    grid-area: c;
}

.inter-overlay-three{
    background-color: #D2BFBD;
}

.inter-four{
    margin: 20px;
    grid-area: d;
}

.inter-overlay-four{
    background-color: #323232;
}

.inter-five{
    margin: 20px;
    grid-area: e;
}


.inter-overlay-five{
    background-color: #b6b3b0;
}

.inter-six{
    margin: 20px;
    grid-area: f;
}

.inter-overlay-six{
    background-color: #d4d3d3;
}

/* Overlays general */

.inter-container{
    position: relative;
}

.inter-img{
    display: block;
}

.inter-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.inter-container:hover .inter-overlay{
    opacity: 0.8;
    height: 100%;
}

.inter-text{
color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Slideshow container */

.heading-recom{
    padding-top: 20px;
    font-size: 30px;
    font-family: "Philosopher", sans serif;
    text-align: center;
}

.recom-frame{
    position: relative;
    background: #D2BFBD;
}
  
/* Slides */

.recomSlides {
    display: none;
    padding: 50px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #96626C;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover{
    background-color: #96626C;
    color: #f7f7f7;
}
  
.dot-container{
    text-align: center;
    padding: 20px;
    background: #afa2a180;
}
  
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
 .active, .dot:hover {
    background-color: #96626C;
}

q{
    font-style: italic;
    font-size: 17px;
}
  
  /* Add a blue color to the author */
  .author{
    color: #96626C;
}